@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1400px) {
    nav ul li {
        font-size: 35px;
    }
}

@media screen and (max-width: 1300px) {
    nav ul li {
        font-size: 30px;
    }

}

@media screen and (max-width: 1200px) {
    nav ul li {
        font-size: 25px;
    }
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 1024px) {
    nav ul li {
        font-size: 23px;
    }

    .logo {
        width: 100px;
    }

    .logo img {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    nav ul li {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    nav ul li {
        font-size: 15px;
    }

}


@media screen and (max-width: 768px) {
    header {
        padding: 14px 30px;
    }

    nav ul li {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    nav ul {
        gap: 50px;
    }
}

@media screen and (max-width: 600px) {
    header {
        gap: 100px;
    }

    nav ul {
        gap: 30px;
    }

}

@media screen and (max-width: 550px) {
    header {
        gap: 50px;
    }

}

@media screen and (max-width: 500px) {
    header {
        gap: 30px;
    }

    nav ul li {
        font-size: 12px;
    }


}

@media screen and (max-width: 450px) {
    nav ul li {
        font-size: 11px;
    }

    header {
        gap: 20px;
        padding: 14px 20px;
    }

    nav ul {
        gap: 25px;
    }

}

@media screen and (max-width: 430px) {
    nav ul li {
        font-size: 10px;
    }

}